﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/PROTECTED/StudentLayer/MasterStudent.master" CodeFile="OcenyStudenta.aspx.cs" Inherits="PROTECTED_StudentLayer_OcenyStudenta" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div>
        <h3>Oceny Studenta</h3></div>
        <div>
            <asp:GridView ID="GridView1" runat="server" HeaderStyle-BackColor="#10280c" >
            </asp:GridView>
        </div>
    <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Cofnij" />
</asp:Content>